<div id="thread-display-section">
    <div class="dropdown open">
        <button class=" bg-white border-0 dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            For you page
        </button>
        <div class="dropdown-menu" aria-labelledby="triggerId">
            <a class="dropdown-item" href="/home-feed">Following</a>
            <a class="dropdown-item on-active-page" href="#">For you page</a>
        </div>
    </div>

    <div class="thread-container" id="for-your-page-thread-container">
        {{>needle-your-thread}}

    </div>
</div>