<div id="thread-display-section">
    <div class="dropdown open">
        <button class=" bg-white border-0 dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Following
        </button>
        <div class="dropdown-menu" aria-labelledby="triggerId">
            <a class="dropdown-item on-active-page" href="#">Following</a>
            <a class="dropdown-item" href="/for-you-page">For you page</a>
        </div>
    </div>

    <div class="thread-container">
        {{>needle-your-thread}}
        {{>thread-card}}
        {{>thread-card}}
        {{>thread-card}}
        {{>thread-card}}
    </div>
</div>