<main>
    <div class="container-fluid w-100" id="content">
        <div id="image-place">
            <img
                src="./images/image_placeholder.jpg"
                class="img-fluid rounded-5"
                id="Image"
                alt="./images/image_placeholder.jpg"
            />
        </div>
        <div class="container" id="form-section">
            <h1>Welcome to Needle 👋</h1>
            <br>
            <h5>Today is a new day. It's your day. You shape it. Sign in to start managing your threads.</h5>
            <br>
            <a class="btn btn-dark w-100 mb-4" href="/auth/login">Have an account? Sign in now <i class="bi bi-arrow-right"></i></a>
            <a class="btn btn-outline-dark w-100" href="/auth/signup">New to out site? Sign up now <i class="bi bi-person-plus"></i></a>
        </div>                  
    </div>           
</main>