<main>
    <div class="container-fluid w-100" id="content">
        <div id="image-place">
            <img
                src="./images/image_placeholder.jpg"
                class="img-fluid rounded-5"
                id="Image"
                alt="./images/image_placeholder.jpg"
            />
        </div>
        <div class="container" id="form-section">
            <h1>Welcome back 👋🏿</h1>
            <br>
            <h5>Today is a new day. It's your day. You shape it. Sign in to start managing your threads.</h5>
            <br>
            <form action="javascript:window.location.href='./home-feed.html'">
                <div class="mb-3 row">
                    <label
                        for="Email"
                        >Email or Username
                    </label>
                    <div>
                        <input
                            type="text"
                            class="form-control"
                            name="Email"
                            id="Email"
                            placeholder="abc@mail.com"
                        />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label
                        for="Password"
                        >Password
                    </label>
                    <div>
                        <input
                            type="password"
                            class="form-control"
                            name="Password"
                            id="Password"
                            aria-describedby="loginHelpId"
                            placeholder="At least 8 characters"
                        />
                        <small id="loginHelpId" class="form-text text-muted"><a class="text-decoration-none text-dark-emphasis" href="./forgetpw.html">Forgot Password?</a></small>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div>
                        <button type="submit" class="btn btn-dark">
                            Sign in
                        </button>
                    </div>
                </div>
            </form>
            <br>
            <p>Are you new to our site? <a href="/signup" class="text-decoration-none">Sign up</a></p>
        </div>                  
    </div>           
</main>