<div id="notification-thread-display-section">
    <div class="notification-thread-container">
        {{#each notif}}
            {{#switch type}}
                {{#case "reply"}} {{#ifs notif_name}} {{>notification-reply-card}} {{/ifs}} {{/case}}
                {{#case "like"}} {{#ifs notif_name}} {{>notification-like-card}} {{/ifs}} {{/case}}
                {{#case "follow"}} {{#ifs notif_name}} {{>notification-follow-card}} {{/ifs}} {{/case}}
            {{/switch}}
        {{/each}}
    </div>
</div>
    