<main>
    <div class="container-fluid w-100" id="content">
        <div id="image-place">
            <img
                src="/images/image_placeholder.jpg"
                class="img-fluid rounded-5"
                id="Image"
                alt="/images/image_placeholder.jpg"
            />
        </div>
        <div class="container" id="form-section">
            <h1>Reset Password ✍🏿</h1>
            <br>
            <h5>Reset password now</h5>
            <br>
            {{#if expiredMessage}}
            <h5>{{expiredMessage}}</h5>
            <br>
            {{else}}
            <form id="resetPasswordForm" action = {{actionTo}} onsubmit="sendPasswordResetBody(event)">
                
                <div class="mb-3 row">
                    <label
                        for="NewPw"
                        >New password
                    </label>
                    <div>
                        <input
                            type="password"
                            class="form-control"
                            name="NewPw"
                            id="NewPw"
                            placeholder="At least 8 characters"
                        />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label
                        for="ConfirmPw"
                        >Confirm new password
                    </label>
                    <div>
                        <input
                            type="password"
                            class="form-control"
                            name="ConfirmPw"
                            id="ConfirmPw"
                            placeholder="******"
                        />
                    </div>
                </div>
                 <div class="mb-3 row">
                    <p id="clientErrorMessage"></p>
                    <p class="text-danger">{{{message}}}</p>
                </div>
                <div class="mb-3 row">
                    <div>
                        <button type="submit" class="btn btn-dark">
                            Reset password
                        </button>
                    </div>
                </div>
            </form>
            {{/if}}
            <br>
            <p>Suddenly remember it? <a href="/auth/login" class="text-decoration-none">Sign in</a></p>
        </div>                  
    </div>           
</main>

<script src="/scripts/forgotPassword.js"></script>