<div class="d-flex justify-content-between">
    <div class="d-flex gap-2">
        <img src="/images/avatar.png" alt="avatar" class="border border-1 border-dark rounded-circle"
            style="width: 36px; height:36px;">
        <div class="d-flex flex-column">
            <div><b>Display Name</b></div>
            <div>Username</div>
        </div>
    </div>

    <button type="button" class="btn btn-dark col-3" onclick="followClicked(this)">Follow</button>
</div>