<div class="d-flex justify-content-between">
    {{#with follower}}
    <div class="d-flex gap-3">
        <img src="{{avatar}}" alt="avatar" class="border border-1 border-dark rounded-circle"
            style="width: 36px; height:36px;">
        <div class="d-flex flex-column">
            <div><b>{{display_name}}</b></div>
            <div>{{username}}</div>
        </div>
    </div>
    {{/with}}
</div>