<div class="notification-card d-flex flex-row">
    <div class="notification-category">
        <i class="bi bi-heart-fill" style="font-size: 2em; color: #000000;"></i>
    </div>
    <div class="card-content border border-0">
        <div class="card-header border-0 bg-white border-black rounded-0 p-0 " > 
            <div class="username-date d-flex justify-content-between">
                <span>
                    <img src="images/avatar.png" alt="avatar" class="border border-1 border-dark rounded-circle" style="width: 36px; height:36px;">
                </span>
                <div class="dropdown open">
                    <a class="btn btn-light" href="/thread"><i class="bi bi-arrow-right"></i></a>
                    <button class="btn btn-light"
                        type="button"
                        id="triggerId"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <button class="dropdown-item text-success" href="#"><i class="bi bi-check-lg" style="font-size: 1rem;"></i> Mark as read</button>
                        <button class="dropdown-item text-danger" href="#"><i class="bi bi-x-lg" style="font-size: 1rem;"></i> Remove notifications</button>
                    </div>
                </div>
                
            </div> 
        </div>
        <div class="card-body p-0">
            <div class=""><span class="fw-bold">{{user_name}}</span> liked your thread</div>
        </div>
    </div>
</div>