<div class="thread-card d-flex flex-row">
    <div class="avatar-and-follow-icon">
        <a href="/profile/{{username}}">
            <img src="/images/avatar.png" alt="avatar" class="border border-1 border-dark rounded-circle"
                style="width: 36px; height:36px;">
        </a>
        <i class="follow-icon-avatar bi bi-plus-circle" data-bs-toggle="modal" data-bs-target="#followPopup"></i>

    </div>
    <div class="card-content border border-0">
        <div class="card-header border-0 bg-white border-black rounded-0 p-0 "
            onclick="javascript:window.location.href='./threadwithimage.html'">
            <div class="username-date d-flex justify-content-between">
                <span>
                    <p class="fw-bold d-inline-block my-0">Username</p>
                    <i class="bi bi-clock"></i>
                    <span>dd/mm/yyyy</span>
                </span>
                <i class="bi bi-three-dots"></i>
            </div>
        </div>
        <div class="card-body p-0" onclick="javascript:window.location.href='./threadwithimage.html'">
            <div class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, nulla?</div>
            <div class="overflow-hidden rounded-2 border border-1 border-dark" style="margin-top: 8px;">
                <img src="/images/image_placeholder.jpg" alt="Image of thread" style="width: 100%;">
            </div>
        </div>

        <div class="card-footer bg-white border-top-0">
            <p class="d-inline-block" data-bs-toggle="modal" data-bs-target="#replyThread"
                onclick="getImageOfThread(event)"><i class="bi bi-chat-left-text"></i> Replies</p>
            <p class="d-inline-block"><i class="bi bi-heart"></i> Likes</p>
        </div>
    </div>

</div>